h1{
  color: rgb(49, 121, 204);
}
h2 {
  color: #46484c;
}

body{
  background-color: #1708e725;
}

main{
  margin-top: 100px;
  align-items: center;
}

#promo{
  color: #8b8b8bcc;
}

.header{
  margin: 40px 20px 0px 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * { /* LE APLICA EL ESTILO A TODOS SUS HIJOS */
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.menu-item{
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

.logo{
  width: 15%;
}

.navbar{
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions{
  width: 15%;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  color: #67b54b;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
}

.actions button {
  color: #fff;
  background-color: #67b54b;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
}

.publish{
  display: flex;
  justify-content: center;
}

.pub-media{
  align-items: center;
}

.pub-media video{
  width: 500px;
  height: 300px;
}

.fixed-header{
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
}

.features{
  background-color: #0D5157;
  display: grid;
  padding: 50px 80px;
  /* grid-template-columns: 300px 300px; */
  /* grid-template-columns: repeat(2, 300px); */
  /* grid-template-columns: 500px 1fr; */
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px); */
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.feature-art{
  margin: 0;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 20px 30px;
  background-color:#fff;
  border-radius: 5px;
  margin: 10px;
  width: 50%;
  height: 50%;
}

.feature-art h2{
  color: #343434;
  font-size: 2em;
  
}

.feature-art p{
  color: #b1c4e9;
}

.feature-art a{
  text-decoration: none;
  color: #67b54b;
  font-weight: bolder;
}