h1{
  color: rgb(49, 121, 204);
}
h2 {
  color: #46484c;
}

body{
  background-color: #1708e725;
}

main{
  margin-top: 100px;
  align-items: center;
}

input, h2, button{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#promo{
  color: #8b8b8bcc;
}

.header{
  margin: 20px 20px 0px 20px;
  font-size: 0;
  height: 80px;
  font-family: sans-serif;
}

.fixed-header{
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
}

.header > * { /* LE APLICA EL ESTILO A TODOS SUS HIJOS */
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: "Open Sans";
}

.menu-item{
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}

.logo{
  width: 15%;
  height: 100%;
}

.logo > img{
  margin-top: 15px;
}

/* .navbar{
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
} */

.actions{
  width: 25%;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  color: #67b54b;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
}

.actions button {
  color: #fff;
  background-color: #67b54b;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

/* VIDEO Y PUBLICACION CON FORMULARIO */
.publish{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pub-media{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.pub-media video{
  width: 500px;
  height: 300px;
}

.pub-media img{
  width: 120px;
  margin-top: 10px;
}

.pub-info{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.pub-info > * {
  font-family: "Open Sans";
}

.pub-info h3{
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  margin-bottom: -2px;
}
.pub-info h5 {
  color: #8b8b8bcc;
  font-size: 15px;
}

.pub-info input{
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  padding: 10px 30px;
  width: 60%;
  max-width: 250px;
}

.pub-info button{
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 11px 25px;
  margin-left: -10px;
}

.features{
  background-color: #0D5157;
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.feature-card {
  display: flex;
  justify-content: flex-start;
  background-color:#fff;
  border-radius: 5px;
}

.feature-art{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0px 20px 30px;
  font-family: "Open Sans";
  width: 50%;
  flex: 2;
}

.feature-icon{
  width: 50px;
  height: 50px;
}

.feature-art h2{
  color: #343434;
  font-size: 1.48em;
  font-weight: 500;
}

.feature-art p{
  color: #8b8b8bcc;
}

.feature-art a{
  text-decoration: none;
  color: #67b54b;
  font-weight: bolder;
}

.feature-img{
  /* width: 40%; */
  overflow: hidden;
  flex: 1;
} 

.feature-img img {
  height: 300px;
  position: relative; 
}

.who-uses{
  background-color: #a1d683;
  display: flex;
  justify-content: center;
  padding: 50px 150px;
}

.who-uses-cont{
  flex-direction: column;
}

.who-uses-cont h3{
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 48px;
  color: #025157;
  line-height: 61px;
}
.who-uses-cont p{
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}

.who-uses-cont button{
  color: #fff;
  background-color: #025157;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  border: none;
} 

.who-uses-cont img{
  margin-top: 30px;
  width: 500px;
  height: 130px;
}

.uses-card{
  background-color: #fff;
  border-radius: 5%;
  margin-left: 50px;
  flex-direction: column;

}
.uses-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  height: 200px;
}

.over-img{
  position: absolute;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}